<ion-view>
	<ion-content>
		<h3>Detalhes do Exercício</h3>
		<div class="card">
			<div class="row item item-divider">
	      		<div class="col col-50">
	        		<h3>Exercício</h3>
	      		</div>
	      		<div class="col col-50">
	        		<h3>Descrição</h3>
	      		</div>
	    	</div>

	    	<div class="row item item-text-wrap">
	      		<div class="col col-50">{{detalheExercicio.nome}}</div>
	      		<div class="col col-50" >{{detalheExercicio.descricao}} Musculos Envolvidos: {{detalheExercicio.grupamento}}. Tipo da atividade: {{detalheExercicio.atividadeFisica}}</div>
	    	</div>
	    </div>
	</ion-content>
</ion-view>